<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<title>Terms - My2tum!</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		<link rel="manifest" href="img/site.webmanifest">
		<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#eae7dc">
		<meta name="theme-color" content="#eae7dc">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
		<!-- Stylesheets -->
		
		<link rel="stylesheet" href="css/DSCStyle.css">
		<link rel="stylesheet" href="css/DSCRegistrationLoginModal.css">
		<link rel="stylesheet" type="text/css" href="css/hstyle.css">
		
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/ee84c22acb.js" crossorigin="anonymous"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
		<script src="https://apis.google.com/js/api:client.js"></script>
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			 fbq('init', '1766607506878151');
			fbq('track', 'PageView');
		</script>
	</head>

	<body class="homepage">
	
		<nav class="navbar navbar-expand-md fixed-top navbar-light">
			<div class="container">
				<a class="navbar-brand" href="/"> <img style="max-width:150px; width: 100%;" title="my2tum" src="logos/SquareLogo.png" alt="logo"></a>

			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav ml-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      	<!--<li class="nav-item">
							<a class="nav-link DSC-font-size-17" href="#" type="button" data-toggle="modal" data-target="#LoginModal">Login</a>
			      		</li>-->	
			    	</ul>
			  	</div>
			</div>
		</nav>

		<main role="main" style="margin-top: 125px;">
			<div class="container">
				<h1 class="text-center"><strong></strong>Terms</strong></h1>
				<div class="row justify-content-md-center">
					<a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i> </a>
					<div id="pageContents" class="col-md-8 col-lg-9 col-xl-8 border taller float-right">
						<div id="contentAreaBasic">
							<div id="main_txt" style="padding:20px; font-size:14pt;">
					
					<p>Welcome to my2tum, the Application that provides you with the health and safety information you will need to travel anywhere in the world with confidence and the assurance that you have done all that is required to make your trip a successful one.</p>
					<p>By accessing or using this application you signify that you have read and understand these Terms and Conditions also called the “Agreement” and agree to be bound by them and by the my2tum Privacy Policy, incorporated into the Agreement by this reference. This Agreement is governed by the Electronic Signatures in Global and National Commerce Act, (E-Sign Act), which provides that a contract or signature “may not be denied legal effect, validity or enforceability solely because it is in electronic form.” You signify your agreement to be bound by these Terms and Conditions by any act demonstrating your assent to them. If you do not agree to be bound by this Agreement, please do not use the Application.</p>
					<p>We reserve the right to modify these Terms and Conditions at any time without further notice to you. The date of the latest revision will be posted on the last page of this document. It is your responsibility to periodically check to see if there have been any changes to the Terms and Conditions. Your continued use of the Application constitutes your acceptance of the most current Terms and Conditions.</p>
					
					<strong style="text-align: center; text-decoration: underline;">User Registration</strong><br/>
					<p>When you register to use my2tum you will be asked for your email address or you can choose to login using one of several social media accounts available. During the registration process you will also be asked to create a unique username and password. You are solely responsible for keeping your password secure and accept responsibility for any postings that occur under your account. my2tum, at its sole discretion, may refuse or terminate registration for any reason.</p>
					
					<strong style="text-align: center; text-decoration: underline;">Member Content Submissions and Prohibited Use</strong><br/>
					<p>In order to use the my2tum application you must first register and provide us with certain personal information, such as username, password and email address. Users must be at least 18 years old to interact with some of the features and use my2tum. By registering with my2tum you are affirming that you are at least 18 years old and are willing and able to enter into a legal contract and comply with its terms. my2tum, at its sole discretion, may deny or terminate your use of its Application at any time and for any reason.</p>

					<strong style="text-align: center; text-decoration: underline;">Users may not do any of the following</strong><br/>

						<ul>
							<li>Access the Application for commercial or promotional purposes without the express written consent of my2tum, which includes submitting advertisements or solicitations of any kind.</li>
							<li>Use any search and retrieval application, or other automated process, including robots, crawlers, spiders or other files or programs to access or retrieve content from the Application.</li>
							<li>Use any software or device, which interferes with the proper functioning of the Application, including viruses, worms, or Trojan horses.</li>
							<li>Circumvent, disrupt, disable, or otherwise interfere with any security features of the Application.</li>
							<li>Infringe on the intellectual property rights of third parties, which include, but are not limited to, copyrights, trademarks, service marks, trade secrets, rights of publicity and rights of privacy.</li>
							<li>Submit false, misleading, or deceptive information or defamatory, abusive, threatening, offensive, obscene, profane or otherwise objectionable materials or private or personal information regarding a third-party.</li>
							<li>Submit content that contains viruses or codes, files or programs that interfere with, disrupt, damage or limit the functionality of any software, hardware or equipment or which allow unauthorized access to data or other information regarding the Application, its affiliates or its users.</li>
							<li>Falsely identify yourself at any time, including when registering, as another person or entity or use or attempt to access another person’s account.</li>
							<li>Use the Application for any unlawful activity or in any manner that is prohibited by these Terms and Conditions.</li>
							<li>Interfere with or disrupt the service or do anything that would prevent other users from utilizing the Application.</li>
							<li>Use reverse engineering or any other means to discover source code or circumvent measures designed by my2tum to prevent access to its codes.</li>
							<li>Transfer your my2tum account to another person or entity.</li>
							<li>Develop other applications, which attempt to interact with the My2um application without prior written consent from my2tum.</li>
						</ul>
												
							<strong style="text-align: center; text-decoration: underline;">Copyrights and Infringing Materials</strong><br/>
							<p>Users may not copy, upload, transmit, create derivative works, lease, loan, sell or otherwise distribute any content including, but not limited to, copyright protected materials such as text, graphics, music, videos and the like that belong, or are licensed to my2tum or any other third-party without the express, written permission of the intellectual property owner. The my2tum Application is copyright protected and any infringing activity will be prosecuted to the fullest extent allowable under state and federal law.</p>
							
							<p>If a copyright owner believes that their work has been used on this Application without permission, they should submit written notification in accordance with the notification requirements set forth in the Digital Millennium Copyright Act “DMCA”. Should we receive a Notification of Alleged Copyright Infringement we will respond in accordance with the provisions of the DMCA. You must comply with the notification/counter-notification requirements as set forth in the DMCA in order for my2tum to take the action requested.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Trademarks and or Service Marks</strong><br/>
							<p>The name “my2tum,” the URL www.my2tum.com and any associated logos or designs are the trademarks and/or service marks of the Application’s owner, its agents, licensors, or affiliates. Neither these marks nor those of any third party affiliated with the Application may be used without the express written permission of their owners. Any infringements of Trademarks and service marks associated with the my2tum Application will be prosecuted to the fullest extent allowable under state and federal law.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Third-Party Applications</strong><br/>
							<p>The my2tum Application may contain advertisements relating to other applications or websites that are not under its authority or control and have not been investigated or reviewed for appropriateness, non-infringement, or accuracy of content. Unless otherwise stated, my2tum does not endorse any product or service offered by these third parties nor does it make any representations regarding their content. You use such applications or visit such websites at your own risk. These Applications or websites also contain their own terms and conditions and privacy policies over which my2tum has no control When you use a third-party Application or visit a website you are subject to their policies and practices.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Disclaimers</strong><br/>
							<p>The my2tum Application is provided “As, Is”, and to the fullest extent permitted by law, we make no representations and disclaim all warranties, either express or implied, including, but not limited to, warranties of merchantability or fitness for a particular purpose or non-infringement. We make no guarantees, nor do we promise any specific results from the use of the Application. We do not guarantee, represent, or warrant that the software, content, information or materials on the Application are complete, accurate, current, reliable, or virus-free or that use of the services will be uninterrupted or free from error. my2tum disclaims any warranties associated with information, services, or goods accessible from or obtained through this Application, including, without limitation users-downloaded content or advertisements.</p>
							<p>You use the Application and its content at your own risk and discretion and are solely responsible for said use and any damage resulting from use of the Application, including without limitation, that resulting from unauthorized access too, or use of personal information provided by you, interruptions in service, viruses or any loss or damage incurred as a result of using any submitted content. my2tum makes no claim that the information and content provided through its Application is appropriate for use outside of the United States or may be legally downloaded outside the United States. If you access this Application from outside the United States, the information available and data accuracy may vary. As always, users should be cautious when downloading any software or content.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Limitation of Liability/Indemnification</strong><br/>
							<p>Neither my2tum nor its officers, directors, employees, agents or assigns shall be liable to the User for any indirect, incidental, consequential, special or punitive damages including any such damages for lost profits, lost information, loss or corruption of data, loss of use of hardware or software arising from use or inability to use the Application or its services or from any content accessed through the Application, whether based on warranty, contract or any other legal theory, even if my2tum has been made aware of the possibility of such damages. Under no circumstances shall the Application’s liability exceed the actual amount paid by the User. Some States do not allow limitations on implied warranties or the exclusion or limitation of certain damages. Therefore, some of the above limitations or exclusions may not apply to you.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Indemnification</strong><br/>
							<p>Users of this Application agree to indemnify and hold harmless my2tum, their affiliates or licensors, and their officers, directors, employees, agents, and assigns from and against any loss, liability, claim, damages, costs, and expenses, including reasonable attorney fees, resulting from their use of this Application, including content submissions, or their violation of any of these terms and conditions.</p>
							
							
							<strong style="text-align: center; text-decoration: underline;">Force Majeure</strong><br/>
							
							<p>Neither my2tum nor its affiliates shall be liable for any performance failure, including delays, loss of service, or failure of the Application to perform as intended resulting from an act of nature or other forces beyond our control, including, but not limited to, fire, flood, earthquake, storms, civil disturbances, government actions, court orders, equipment failures, power failures, Internet or computer failures or third-party nonperformance.</p>
							
							
							<strong style="text-align: center; text-decoration: underline;">Governing Law and Jurisdiction</strong><br/>
							<p>These Terms and Conditions and any disputes that may arise from your use of the Application, shall be governed by the laws of the state of California, without regard to its conflicts of interest law. Jurisdiction shall reside in the state of California and you agree and expressly consent to personal jurisdiction in the courts of California, county of Los Angeles.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Arbitration</strong><br/>
							<p>Both you and my2tum agree to waive the right to a courtroom trial and/or trial by jury. You and my2tum agree that all legal disputes shall be subject to final and binding Arbitration, except that if either party has violated or threatened to violate the other’s copyright, patent, trademark or trade secret rights or, you have otherwise violated any of the User conduct terms set forth herein, then the parties agree that arbitration would not be an adequate forum and that injunctive or another appropriate remedy may be sought.</p>
							
							<p>Arbitration proceedings shall be conducted by the American Arbitration Association “AAA” under its Commercial Arbitration Rules or, as applicable, the AAA Supplementary Procedures for Consumer related Disputes the “AAA” Consumer Rules. The location of the proceedings and the fees shall be determined in accordance with AAA Rules. The arbitration shall be conducted by a single neutral arbitrator. The arbitrator’s ruling shall be binding and may be entered as a judgment in any court of competent jurisdiction.</p>
							
							<strong style="text-align: center; text-decoration: underline;">Notices</strong><br/>
							<p>Any notices required under this Agreement shall be prominently posted through the Application. Notices given to my2tum shall be sent electronically or via United States Mail or other commercial carrier. my2tum may be contacted at the following address:<br> 2640 Main St. Irvine, CA 92614. Our Customer Service Email address is: contact@my2tum.com.</p>
							
							<p>These Terms and Conditions constitute the entire agreement between you and the my2tum regarding your use of the Application and its services and supersede any prior agreements between you and my2tum. The failure of my2tum to exercise or enforce any right under this Agreement shall not constitute a waiver of such right as it may pertain to any other instance. If any term in this Agreement is held invalid, illegal, or unenforceable by a court of competent jurisdiction it shall be eliminated, and the remaining terms shall continue in full force and effect.</p>
							
							
						<p>Updated: 10/03/2021</p>

						

						</div>
					</div>
				</div>
			</div>
		</div>
</main>

</main>

		<footer>
			<div class="container">
					<div class="row">
			      <!-- <div class="col-6 col-md">
			        <h5>Features</h5>
			        <ul class="list-unstyled text-small">
			          <li><a class="text-muted" href="#">Cool stuff</a></li>
			          <li><a class="text-muted" href="#">Random feature</a></li>
			          <li><a class="text-muted" href="#">Team feature</a></li>
			          <li><a class="text-muted" href="#">Stuff for developers</a></li>
			          <li><a class="text-muted" href="#">Another one</a></li>
			          <li><a class="text-muted" href="#">Last time</a></li>
			        </ul>
			      </div>
			      <div class="col-6 col-md">
			        <h5>Resources</h5>
			        <ul class="list-unstyled text-small">
			          <li><a class="text-muted" href="#">Resource</a></li>
			          <li><a class="text-muted" href="#">Resource name</a></li>
			          <li><a class="text-muted" href="#">Another resource</a></li>
			          <li><a class="text-muted" href="#">Final resource</a></li>
			        </ul>
			      </div> -->
			      <div class="col-md-4">
							<div class="social-icons">
								<a href="https://www.facebook.com/My2tum-342098020468767" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
								<a href="https://www.twitter.com/my2tum" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
								<a href="https://www.instagram.com/my2tum" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
								<a href="https://www.youtube.com/channel/UCXJ2ii_v-wdPBGqD_gzfQzA" target="_blank" class="youtube"><i class="fab fa-youtube"></i></a>
								<a href="https://www.reddit.com/user/my2tum" target="_blank" class="reddit"><i class="fab fa-reddit"></i></a>
							</div>
						</div>
			      <div class="col-md-4 col-12 text-center">
			        <!-- <h5><a href="/about">About Us</a></h5> -->
			        <ul class="list-unstyled list-inline text-small footer-menu">
			          <!-- <li class="list-inline-item"><a class="text-muted" href="#">Team</a></li> -->
			          <li class="list-inline-item"><a href="/faq">FAQ</a></li>
			          <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
			          <li class="list-inline-item"><a href="/terms">Terms</a></li>
					  		<!-- <li class="list-inline-item"><a class="text-muted" href="#">Contact Us</a></li>	 -->
			        </ul>
			      </div>
			      <div class="col-md-4">
							<div class="footer-logo">
								<a href="#"><img src="logos/logo.png" alt="logo"></a>
							</div>
						</div>
			    </div>
			    <div class="bottom-footer">
						<div class="row">
							
							<div class="col-md-4 offset-md-4">
								<p class="copy">Copyright &#169; 2022 Bytech Inc </p>
							</div>
							
						</div>
					</div>
				</div>
		</footer>

	<div class="modal fade" style="padding-right: 0% !important;" id="RegisterModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content DSC-modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
								src="logos/logo.png" alt="logo"></a>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-around">
						<a href="/facebook" class="fa fa-facebook register_check_terms"></a>
						<a href="/twitter" class="fa fa-twitter register_check_terms"></a>
						<!-- <a href="#" class="fa fa-google" id="customBtn2" onclick="startApp()"></a> -->
						<a href="/google" class="fa fa-google register_check_terms"></a>
						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a> -->
					</div>
					<div class="mt-2 d-flex justify-content-around">
						<div class="mb-2 DSC-divider"></div>
						<div>or</div>
						<div class="mb-2 DSC-divider"></div>
					</div>
					<form class="mt-3 mb-3">
						<div class="form-group">
							<input class="form-control bg-light mb-2 " onblur ="validName()" type="text" required placeholder="Create User Name" id="r_name" required>
							<span id="validName" class="display-none danger-text">*Invalid Name</span>
						</div>
						<div class="form-group">
							<input class="form-control bg-light mb-2" type="email" onblur="validateEmail()" required placeholder="Email address" id="r_email" required>
							<span id="validEmail" class="display-none danger-text">*Invalid Email</span>
						</div>
						<div class="form-group input-icon-inline">
							<input class="form-control bg-light" type="password" placeholder="Create an 8 character Alphanumeric  password." onblur="checkPassword()" required id="r_password" required><i class="fas fa-info-circle" data-placement="bottom" data-toggle="tooltip" data-html="true" title="<p>Password must have: </p><ul class='list-styled'><li>eight characters or longer</li><li>at least 1 lowercase alphabetical character</li><li>at least 1 uppercase alphabetical character</li><li>at least 1 numeric character</li><li>at least one special character from !@#$%^&*</li></ul>"></i>
							<span id="validPassword" class="display-none danger-text mt-2">*Invalid password</span>
						</div>
						<div class="form-group">
							<input type="checkbox" id="checkboxChecked"/><span class="ml-3" id="accepttermsandcondition">Accepting <a href="/terms" target="_blank">terms and conditions</a>.</span><span id="invalidCheckBox" class="display-none danger-text">*</span>
						</div>
						<button type="button" class="btn btn-info w-100" onclick="registration(event)">CREATE
							ACCOUNT</button>
					</form>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-info w-100" onclick="registration(event)">CREATE ACCOUNT</button>
				</div> -->
				<div class="text-center mt-3 mb-3">
					Already have an account? <a href="#"><span class="text-primary"
							onclick="showLogin()">Login</span></a>
				</div>
			</div>
		</div>
	</div>
<!-- Login Modal Starts -->
	<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content DSC-modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
								src="logos/logo.png" alt="logo"></a>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-around">
						<a href="/facebook" class="fa fa-facebook"></a>
						<a href="/twitter" class="fa fa-twitter"></a>
						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a>-->
						<a href="/google" class="fa fa-google"></a>
					</div>
					<div class="mt-2 d-flex justify-content-around">
						<div class="mb-2 DSC-divider"></div>
						<div>or</div>
						<div class="mb-2 DSC-divider"></div>
					</div>
					<div class="mt-3 mb-3">
						<div >
							<p class="text-danger" id="invalidLoginMessage"> </p>
						</div>
						<p class="text-danger" id="loginGoogleMessage">User Does not Exist</p>
						<div class="form-group">
							<input class="form-control bg-light mb-2" type="email" onblur="lValidateEmail()" placeholder="Email" required id="l_email">
							<span id="lValidEmail" class="display-none danger-text">*Invalid Email</span>
						</div>
						<div class="form-group input-icon-inline">
							<input class="form-control bg-light" type="password" onblur="lCheckPassword()" required placeholder="Password" id="l_password"><i class="fas fa-info-circle" data-placement="bottom" data-toggle="tooltip" data-html="true" title="<p>Password must have: </p><ul class='list-styled'><li>eight characters or longer</li><li>at least 1 lowercase alphabetical character</li><li>at least 1 uppercase alphabetical character</li><li>at least 1 numeric character</li><li>at least one special character from !@#$%^&*</li></ul>"></i>
							<span id="lValidPassword" class="display-none danger-text mt-2">*Invalid Password</span>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info w-100" onclick="login(event)">LOGIN</button>
				</div>
				<div class="text-center mt-3 mb-3">
                					 <a href="#"><span class="text-primary" onclick="showForgotPassword()">
                					    Forgot Password?
                					 </span></a>
                				</div>
				<div class="text-center mt-3 mb-3">
					Looking to <a href="#"><span class="text-primary" onclick="showRegistration()">create an
							account?</span></a>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-header">
  					<h5 class="modal-title" id="exampleModalLabel">
  						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
  								src="logos/logo.png" alt="logo"></a>
  					</h5>
  					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
  					</button>
  				</div>
  				<div class="modal-body">
  					<div class="d-flex justify-content-around">
  						<a href="/facebook" class="fa fa-facebook"></a>
  						<a href="/twitter" class="fa fa-twitter"></a>
  						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a>-->
  						<a href="/google" class="fa fa-google" id="customBtn1"></a>
  					</div>
  					<div class="mt-2 d-flex justify-content-around">
  						<div class="mb-2 DSC-divider"></div>
  						<div>or</div>
  						<div class="mb-2 DSC-divider"></div>
  					</div>
  					<div class="mt-3 mb-3">
  						<div >
  							<p class="text-danger" id="invalidLoginMessage"> </p>
  						</div>
  						<p class="text-danger" id="resetEmailReturnError"></p>
  						<input class="form-control bg-light mb-2" type="email" onblur="lValidateEmailReset()" placeholder="Email" required id="reset_email">
  						<span id="resetValidEmail" class="display-none danger-text">*Invalid Email</span>
  					</div>
  				</div>
  				<div class="modal-footer">
  					<button type="submit" class="btn btn-info w-100" onclick="sendEmailForgotPassword(event)">Forgot Password</button>
  				</div>

  				<div class="text-center mt-3 mb-3">
  					Already user? <a href="#"><span class="text-primary" onclick="showLogin()">Login</span></a>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="modal fade" id="accepttermsandconditionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-body">
  					<p class="red-left-padding-border">Oops! You must agree to our Terms and Conditions before being able to login to dashboard.</p>
  				</div>
  				<div class="modal-footer">
						<button type="button" class="mt-2" data-dismiss="modal" aria-label="Close">Close</button>
					</div>
  			</div>
  		</div>
  	</div>

  	<div class="modal fade" id="registerOutcomeMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-body">
						<p class="red-left-padding-border" id="validEmailRegistration"></p>
						<p class="text-success succesFullRegistration"  id="successFullRegistration">Please check your email and verify the account. </p>
  				</div>
  				<div class="modal-footer">
						<button type="button" class="mt-2" data-dismiss="modal" aria-label="Close">Close</button>
					</div>
  			</div>
  		</div>
  	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Registration -->
	<script src="Js/registraion.js"></script>
	<script src="Js/login.js"></script>
	<script src="Js/googleRegistration.js"></script>
	<script src="Js/showLogin.js"></script>
	<script src="Js/showRegistration.js"></script>
	
	
	<script>
		jQuery('.register_check_terms').click(function(e){
			if(jQuery('#checkboxChecked').is(':checked'))
			{
				jQuery('#invalidCheckBox').addClass('display-none');
				jQuery('#accepttermsandcondition').removeClass('text-danger');

			}
			else
			{
				jQuery('#invalidCheckBox').removeClass('display-none');
				jQuery('#accepttermsandcondition').addClass('text-danger');
				e.preventDefault();
				jQuery('#accepttermsandconditionmodal').modal('show');
			}
		})
		jQuery(document).ready(function(){
			jQuery('[data-toggle="tooltip"]').tooltip();
			jQuery('.input-icon-inline input').after('<i class="fa fa-eye-slash showhide_on_click"></i>');

			jQuery('.showhide_on_click').click(function(){
				if(jQuery(this).hasClass('activee'))
				{
					jQuery(this).parent().find('input').attr('type','password');
					jQuery(this).removeClass('activee').addClass('fa-eye-slash').removeClass('fa-eye');
				}
				else
				{
					jQuery(this).parent().find('input').attr('type','text');
					jQuery(this).addClass('activee').removeClass('fa-eye-slash').addClass('fa-eye');
				}
			}) 
		});
	</script>
	<!-- Login Modal ends -->
	<!-- Coding End -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>
