<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<title>Terms - My2tum</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		<link rel="manifest" href="img/site.webmanifest">
		<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#eae7dc">
		<meta name="theme-color" content="#eae7dc">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
		<!-- Stylesheets -->
		
		<link rel="stylesheet" href="css/DSCStyle.css">
		<link rel="stylesheet" href="css/DSCRegistrationLoginModal.css">
		<link rel="stylesheet" type="text/css" href="css/hstyle.css">
		
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/ee84c22acb.js" crossorigin="anonymous"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
		<script src="https://apis.google.com/js/api:client.js"></script>
			
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1766607506878151');
			fbq('track', 'PageView');
		</script>
	</head>

	<body class="homepage">
	
		<nav class="navbar navbar-expand-md fixed-top navbar-light">
			<div class="container">
				<a class="navbar-brand" href="/"> <img style="max-width:150px; width: 100%;" title="my2tum" src="logos/SquareLogo.png" alt="logo"></a>

			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav ml-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<!--<li class="nav-item">
							<a class="nav-link DSC-font-size-17" href="#" type="button" data-toggle="modal" data-target="#LoginModal">Login</a>
			      		</li>-->
			    	</ul>
			  	</div>
			</div>
		</nav>

		<main role="main" style="margin-top: 125px;">
			<div class="container">
				<h1 class="text-center"><strong></strong>Privacy</strong></h1>
				<div class="row justify-content-md-center">
					<a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i> </a>
					<div id="pageContents" class="col-md-8 col-lg-9 col-xl-8 border taller float-right">
						<div id="contentAreaBasic">
							<div id="main_txt" style="padding:20px; font-size:14pt;">
								<p>my2tum is an Application that allows users to find the health and safety information they will need to travel anywhere in the world with the confidence and the assurance that they have done all that is required to make their trip a successful one.</p>
			                    <p>Protecting your personal information is a priority for us. This Privacy Policy describes how we collect and use personal information submitted by my2tum Users or otherwise obtained by us when you access the Application. You can initiate the deletion of your account and its contents at any time. By using the my2tum Application you demonstrate your agreement to be bound by this Privacy Policy. </p>
			                    <p>We may modify the terms of this Privacy Policy from time to time without advance notice to you. Therefore, you should periodically check to see if any changes have been made to this document. The date of the most current Privacy Policy will be posted on the last page of the document. </p>

								
								<strong style="text-align: center; text-decoration: underline;">Information Collected by my2tum</strong><br/>
								<p>Personal Information: In order to use the my2tum Application you must register and provide us with your email address. You must also create a unique username and password. Once you have given us your personal information, through the registration process, you are no longer anonymous to us. Some examples of how your personal information may be used are: to improve the operation of the Application, its products or services; respond to your preferences; respond to user comments or questions; provide and enhance customer service; send information, provide technical notices, security alerts and administrative messages; tell you about events, products and services offered by my2tum and its affiliates or investigate and take action against fraud or illegal activity.</p>
								
			                    <p>Usage Information:my2tum collects information about your use of the Application such as the time and date of use and your location.</p>
			                    <p>Location Information: The purpose of Mytum is to gather information that will assist in providing useful and accurate travel information to the user, such as the nearest airport for departure. Therefore, the Application is designed to pinpoint the User’s exact location. If you are unwilling to be located, you should not use this service.</p>
			                    <strong style="text-align: center; text-decoration: underline;">Content Submissions</strong><br/>
			                    <p>my2tum may provide users the opportunity to upload and store photos and other content. In addition, uploaded content may be designated by the user as accessible to others. Therefore, you are advised and encouraged to post responsibly.</p>

								<strong style="text-align: center; text-decoration: underline;">Use of Personally Identifiable Information</strong><br/>
								<p>We may use personally identifiable information for a variety of reasons including the following:</p>
			                        <p>Communication: We may use your personal information to communicate with you regarding issues relating to your use of the Application, such as technical notices, security or other information.</p>
			                        <p>Services and Improvements: Your personal information may be used to improve services, including content customization and advertising; for research; for analysis and auditing; to ensure technical performance; to develop new applications or services and to protect the rights of my2tum and its Users. We may also use your personal information to inform you of other products or services available through my2tum and its affiliates or to conduct surveys regarding our services or potential new services or products. If you prefer not to receive promotional emails from my2tum you may click on the unsubscribe link found at the bottom of these emails. Please note, if you opt out of receiving promotional emails, we may continue to send you notices regarding products or services and policies relating to the operation of the Application. For all other questions regarding your personal information, you can contact us at contact@my2tum.com.</p>

			                        <strong style="text-align: center; text-decoration: underline;">Sharing Personally Identifiable Information</strong><br/>
			                        <p>my2tum does not sell, rent, share, or otherwise disclose to others your personally identifiable information except as described in this document. my2tum may share your personal information for the following purposes and under the following circumstances:</p>
			                        <ul>
			                        <li>We may share information with our affiliates, business associates, service providers, technical consultants or other third parties who act on our behalf. For example, third parties may use your information to enhance the Application’s functionality, to provide User services, including content or product delivery. All such third parties are prohibited from using your information except to provide these services and they are required to maintain the confidentiality of your information.</li>
			                        <li>We may transfer your personal information and other information in connection with or during negotiations for a merger, acquisition, financial transaction, or proceeding involving the sale, transfer, divestiture of all or portions of our business or its assets to another company.</li>
			                        <li>We may disclose User information at our discretion when we believe releasing such information is necessary to comply with or assist law enforcement. For example, we may release information to 1. comply with laws or respond to lawful requests by law enforcement agencies or legal processes, 2. to protect the rights and property of my2tum, its agents, customers, Users, affiliates or others, 3. to enforce our agreements, policies and terms and conditions, 4. to protect the personal safety of our employees or others.</li>
			                        <li>We may disclose to third-parties aggregate statistical information and data about our Users, which cannot be associated with particular individuals.</li>
			                        </ul>
			                        <strong style="text-align: center; text-decoration: underline;">Third Party Advertising</strong><br/>
			                        <p>Advertisements may appear on the my2tum Application. my2tum has no control over the conduct of third-party advertisers once you interact directly with them by visiting their websites, for example. However, these advertisers do not have access to the personally identifiable information you have provided directly to us.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Information Protection</strong><br/>
			                        <p>When you download or connect to the Application for the first time, you can quickly register by using your Google, Twitter or Facebook account. or you will be asked to provide an email account and create a password. Your password is the key to your registration. We encourage users to create unique passwords utilizing a combination of numbers and letters. Do not disclose your Mytum password to anyone. If you do share your password or other personal information with others, be informed that you are responsible for all actions taken in the name of your account. Therefore, if you suspect your password has been compromised, you should immediately notify my2tum and change your password.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Security</strong><br/>
			                        <p>Your information is stored on our secured servers, which are located in the United States. We treat data as a valuable asset and protect it against unauthorized access and disclosure using tools such as encryption, passwords, and physical security. However, you should be aware that third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse personal information that they collect from the site. Therefore, although we work to protect your privacy, we cannot ensure, and you should not expect, that your personal information or private communications will always remain private.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Notification of Changes</strong><br/>
			                        <p>my2tum reserves the right to change, update or revise the terms of this Privacy Policy, and or impose new or additional conditions, policies or rules at any time without further notice to you. Therefore, we suggest you check periodically to see if there have been any changes to the Privacy Policy. The date of the most current version will appear on the last page of this document. Any such changes, together with the remainder of any unaltered provisions of this Privacy Policy will constitute my2tum’s Privacy Policy at the time of such notice and will be effective immediately upon posting. Your continued use of the my2tum Application following posting or notification of any such changes shall serve as your acceptance of these changes and your agreement to be bound by the revised Privacy Policy.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Children Under 13 Years</strong><br/>
			                        <p>my2tum does not knowingly collect personal information from anyone under the age of 13.  If a User believes that we have information from, or about a child under age 13, they should contact us immediately.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Legal Notice and Terms and Conditions</strong><br/>
			                        <p>Please read the my2tum Terms and Conditions of Use to learn about the additional terms and conditions which apply to the use of this Application.</p>
			                        <strong style="text-align: center; text-decoration: underline;">Contact Information</strong><br/>
			                        <p>my2tum welcomes your questions or comments. You may contact us at: contact@my2tum.com</p>

									<p>Updated: 10/03/2021</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class="container">
					<div class="row">
			      <!-- <div class="col-6 col-md">
			        <h5>Features</h5>
			        <ul class="list-unstyled text-small">
			          <li><a class="text-muted" href="#">Cool stuff</a></li>
			          <li><a class="text-muted" href="#">Random feature</a></li>
			          <li><a class="text-muted" href="#">Team feature</a></li>
			          <li><a class="text-muted" href="#">Stuff for developers</a></li>
			          <li><a class="text-muted" href="#">Another one</a></li>
			          <li><a class="text-muted" href="#">Last time</a></li>
			        </ul>
			      </div>
			      <div class="col-6 col-md">
			        <h5>Resources</h5>
			        <ul class="list-unstyled text-small">
			          <li><a class="text-muted" href="#">Resource</a></li>
			          <li><a class="text-muted" href="#">Resource name</a></li>
			          <li><a class="text-muted" href="#">Another resource</a></li>
			          <li><a class="text-muted" href="#">Final resource</a></li>
			        </ul>
			      </div> -->
			      <div class="col-md-4">
							<div class="social-icons">
								<a href="https://www.facebook.com/My2tum-342098020468767" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
								<a href="https://www.twitter.com/my2tum" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
								<a href="https://www.instagram.com/my2tum" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
								<a href="https://www.youtube.com/channel/UCXJ2ii_v-wdPBGqD_gzfQzA" target="_blank" class="youtube"><i class="fab fa-youtube"></i></a>
								<a href="https://www.reddit.com/user/my2tum" target="_blank" class="reddit"><i class="fab fa-reddit"></i></a>
							</div>
						</div>
			      <div class="col-md-4 col-12 text-center">
					  <!--
			        <h5><a href="/about">About Us</a></h5>
					
					-->
			        <ul class="list-unstyled list-inline text-small footer-menu">
			          <!-- <li class="list-inline-item"><a class="text-muted" href="#">Team</a></li> -->
			          <li class="list-inline-item"><a href="/faq">FAQ</a></li>
			          <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
			          <li class="list-inline-item"><a href="/terms">Terms</a></li>
					  		<!-- <li class="list-inline-item"><a class="text-muted" href="#">Contact Us</a></li>	 -->
			        </ul>
			      </div>
			      <div class="col-md-4">
							<div class="footer-logo">
								<a href="#"><img src="logos/logo.png" alt="logo"></a>
							</div>
						</div>
			    </div>
			    <div class="bottom-footer">
						<div class="row">
							
							<div class="col-md-4 offset-md-4">
								<p class="copy">Copyright &#169; 2022 Bytech Inc </p>
							</div>
							
						</div>
					</div>
				</div>
		</footer>

	<div class="modal fade" style="padding-right: 0% !important;" id="RegisterModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content DSC-modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
								src="logos/logo.png" alt="logo"></a>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-around">
						<a href="/facebook" class="fa fa-facebook register_check_terms"></a>
						<a href="/twitter" class="fa fa-twitter register_check_terms"></a>
						<!-- <a href="#" class="fa fa-google" id="customBtn2" onclick="startApp()"></a> -->
						<a href="/google" class="fa fa-google register_check_terms"></a>
						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a> -->
					</div>
					<div class="mt-2 d-flex justify-content-around">
						<div class="mb-2 DSC-divider"></div>
						<div>or</div>
						<div class="mb-2 DSC-divider"></div>
					</div>
					<form class="mt-3 mb-3">
						<div class="form-group">
							<input class="form-control bg-light mb-2 " onblur ="validName()" type="text" required placeholder="Create User Name" id="r_name" required>
							<span id="validName" class="display-none danger-text">*Invalid Name</span>
						</div>
						<div class="form-group">
							<input class="form-control bg-light mb-2" type="email" onblur="validateEmail()" required placeholder="Email address" id="r_email" required>
							<span id="validEmail" class="display-none danger-text">*Invalid Email</span>
						</div>
						<div class="form-group input-icon-inline">
							<input class="form-control bg-light" type="password" placeholder="Create an 8 character Alphanumeric  password." onblur="checkPassword()" required id="r_password" required><i class="fas fa-info-circle" data-placement="bottom" data-toggle="tooltip" data-html="true" title="<p>Password must have: </p><ul class='list-styled'><li>eight characters or longer</li><li>at least 1 lowercase alphabetical character</li><li>at least 1 uppercase alphabetical character</li><li>at least 1 numeric character</li><li>at least one special character from !@#$%^&*</li></ul>"></i>
							<span id="validPassword" class="display-none danger-text mt-2">*Invalid password</span>
						</div>
						<div class="form-group">
							<input type="checkbox" id="checkboxChecked"/><span class="ml-3" id="accepttermsandcondition">Accepting <a href="/terms" target="_blank">terms and conditions</a>.</span><span id="invalidCheckBox" class="display-none danger-text">*</span>
						</div>
						<button type="button" class="btn btn-info w-100" onclick="registration(event)">CREATE
							ACCOUNT</button>
					</form>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-info w-100" onclick="registration(event)">CREATE ACCOUNT</button>
				</div> -->
				<div class="text-center mt-3 mb-3">
					Already have an account? <a href="#"><span class="text-primary"
							onclick="showLogin()">Login</span></a>
				</div>
			</div>
		</div>
	</div>
<!-- Login Modal Starts -->
	<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content DSC-modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
								src="logos/logo.png" alt="logo"></a>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-around">
						<a href="/facebook" class="fa fa-facebook"></a>
						<a href="/twitter" class="fa fa-twitter"></a>
						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a>-->
						<a href="/google" class="fa fa-google"></a>
					</div>
					<div class="mt-2 d-flex justify-content-around">
						<div class="mb-2 DSC-divider"></div>
						<div>or</div>
						<div class="mb-2 DSC-divider"></div>
					</div>
					<div class="mt-3 mb-3">
						<div >
							<p class="text-danger" id="invalidLoginMessage"> </p>
						</div>
						<p class="text-danger" id="loginGoogleMessage">User Does not Exist</p>
						<div class="form-group">
							<input class="form-control bg-light mb-2" type="email" onblur="lValidateEmail()" placeholder="Email" required id="l_email">
							<span id="lValidEmail" class="display-none danger-text">*Invalid Email</span>
						</div>
						<div class="form-group input-icon-inline">
							<input class="form-control bg-light" type="password" onblur="lCheckPassword()" required placeholder="Password" id="l_password"><i class="fas fa-info-circle" data-placement="bottom" data-toggle="tooltip" data-html="true" title="<p>Password must have: </p><ul class='list-styled'><li>eight characters or longer</li><li>at least 1 lowercase alphabetical character</li><li>at least 1 uppercase alphabetical character</li><li>at least 1 numeric character</li><li>at least one special character from !@#$%^&*</li></ul>"></i>
							<span id="lValidPassword" class="display-none danger-text mt-2">*Invalid Password</span>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info w-100" onclick="login(event)">LOGIN</button>
				</div>
				<div class="text-center mt-3 mb-3">
                					 <a href="#"><span class="text-primary" onclick="showForgotPassword()">
                					    Forgot Password?
                					 </span></a>
                				</div>
				<div class="text-center mt-3 mb-3">
					Looking to <a href="#"><span class="text-primary" onclick="showRegistration()">create an
							account?</span></a>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-header">
  					<h5 class="modal-title" id="exampleModalLabel">
  						<a class="navbar-brand" href="index.html"> <img class="img-size" title="my2tum"
  								src="logos/logo.png" alt="logo"></a>
  					</h5>
  					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
  					</button>
  				</div>
  				<div class="modal-body">
  					<div class="d-flex justify-content-around">
  						<a href="/facebook" class="fa fa-facebook"></a>
  						<a href="/twitter" class="fa fa-twitter"></a>
  						<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  						<!-- <a href="#" class="fa fa-google" onclick="onSignIn()"></a>-->
  						<a href="/google" class="fa fa-google" id="customBtn1"></a>
  					</div>
  					<div class="mt-2 d-flex justify-content-around">
  						<div class="mb-2 DSC-divider"></div>
  						<div>or</div>
  						<div class="mb-2 DSC-divider"></div>
  					</div>
  					<div class="mt-3 mb-3">
  						<div >
  							<p class="text-danger" id="invalidLoginMessage"> </p>
  						</div>
  						<p class="text-danger" id="resetEmailReturnError"></p>
  						<input class="form-control bg-light mb-2" type="email" onblur="lValidateEmailReset()" placeholder="Email" required id="reset_email">
  						<span id="resetValidEmail" class="display-none danger-text">*Invalid Email</span>
  					</div>
  				</div>
  				<div class="modal-footer">
  					<button type="submit" class="btn btn-info w-100" onclick="sendEmailForgotPassword(event)">Forgot Password</button>
  				</div>

  				<div class="text-center mt-3 mb-3">
  					Already user? <a href="#"><span class="text-primary" onclick="showLogin()">Login</span></a>
  				</div>
  			</div>
  		</div>
  	</div>

	<div class="modal fade" id="accepttermsandconditionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-body">
  					<p class="red-left-padding-border">Oops! You must agree to our Terms and Conditions before being able to login to dashboard.</p>
  				</div>
  				<div class="modal-footer">
						<button type="button" class="mt-2" data-dismiss="modal" aria-label="Close">Close</button>
					</div>
  			</div>
  		</div>
  	</div>

  	<div class="modal fade" id="registerOutcomeMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
  			<div class="modal-content DSC-modal-content">
  				<div class="modal-body">
						<p class="red-left-padding-border" id="validEmailRegistration"></p>
						<p class="text-success succesFullRegistration"  id="successFullRegistration">Please check your email and verify the account. </p>
  				</div>
  				<div class="modal-footer">
						<button type="button" class="mt-2" data-dismiss="modal" aria-label="Close">Close</button>
					</div>
  			</div>
  		</div>
  	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Registration -->
	<script src="Js/registraion.js"></script>
	<script src="Js/login.js"></script>
	<script src="Js/googleRegistration.js"></script>
	<script src="Js/showLogin.js"></script>
	<script src="Js/showRegistration.js"></script>
	
	
	<script>
		jQuery('.register_check_terms').click(function(e){
			if(jQuery('#checkboxChecked').is(':checked'))
			{
				jQuery('#invalidCheckBox').addClass('display-none');
				jQuery('#accepttermsandcondition').removeClass('text-danger');

			}
			else
			{
				jQuery('#invalidCheckBox').removeClass('display-none');
				jQuery('#accepttermsandcondition').addClass('text-danger');
				e.preventDefault();
				jQuery('#accepttermsandconditionmodal').modal('show');
			}
		})
		jQuery(document).ready(function(){
			jQuery('[data-toggle="tooltip"]').tooltip();
			jQuery('.input-icon-inline input').after('<i class="fa fa-eye-slash showhide_on_click"></i>');

			jQuery('.showhide_on_click').click(function(){
				if(jQuery(this).hasClass('activee'))
				{
					jQuery(this).parent().find('input').attr('type','password');
					jQuery(this).removeClass('activee').addClass('fa-eye-slash').removeClass('fa-eye');
				}
				else
				{
					jQuery(this).parent().find('input').attr('type','text');
					jQuery(this).addClass('activee').removeClass('fa-eye-slash').addClass('fa-eye');
				}
			})
		});
	</script>
	<!-- Login Modal ends -->
	<!-- Coding End -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>
